// GLOBAL COMPONENTS
.fa{
    margin: .5rem;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../assets/images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
// HEAD PANEL 

.head{
    width: 100%;
    min-height: 75vh;
    background: url(../assets/images/pattern.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
// TABS
.tab-content{
    margin: 20px 0;
}

.tabs .tab a{
    color: $green;
    font-size: 18px;
    font-size: 500;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color: $green;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background-color: $green;
}

.tabs {
    height: auto;
    padding: 20px;
}
.tab{
    min-width: 18%;
}

// CARDS
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    color: $green;
}
.card-image{
    width: 100px;

}

.card-session{
    background: $blue;
}
.card-side-event{
    background: $green;
}
.card-type{
    font-weight: 500;
    font-size: 21px;
    position: relative;
    top: 20%;
}

/**
 * AddToCalendar Blue Style
 * http://addtocalendar.com
 */

/* Base */

.addtocalendar var{
    display: none;
}

.addtocalendar {
    position: relative;
    display: inline-block;
    background: transparent!important;
}

.atcb-link {
    display: block;
    outline: none!important;
    cursor: pointer;
}

.atcb-link:focus~ul,
.atcb-link:active~ul,
.atcb-list:hover{
    visibility:visible;
}

.atcb-list {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    z-index: 900;
}

.atcb-list,
.atcb-item
{
    list-style: none;
    margin: 0;
    padding: 2px 5px;
    background: #fff;
}

.atcb-item {
    float: none;
    text-align: left;
}

.atcb-item-link
{
    text-decoration: none;
    outline: none;
    display: block;
}

.atcb-item.hover,
.atcb-item:hover {
    position: relative;
    z-index: 900;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
