@media only screen and (max-width: 992px){
    .tabs .tab a {
        padding: 0 0px;
        transform: rotate(90deg);
        margin: -5px 0;
        font-size: 14px;
    }
    .card .card-content .card-title {
    line-height: 24px;
    }
    .card .card-title{
        font-size: 18px;
    }
    .card-image {
    width: 70px;
    }
    
    
}

