@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}

h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    color: $blue;
}

h1 { font-size: 2.441em;}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}


.title {
    font-size: 7rem;
    font-weight: 600;
    margin: 0;
}

.subtitle {
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0;
}

// nav ul a{
//     color: $dark-grey;
// }