---
layout: page
title: Schedule
permalink: /schedule/
---

<div class="section">
    <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab green-text col s2"><a class="active green-text" href="#9Oct">9 Oct</a></li>
        <li class="tab green-text col s2"><a   class="green-text" href="#10Oct">10 Oct</a></li>
        <li class="tab green-text col s2"><a class="green-text"  href="#11Oct">11 Oct</a></li>
        <li class="tab green-text col s2"><a class="green-text" href="#12Oct">12 Oct</a></li>
        <li class="tab green-text col s2"><a class="green-text" href="#13Oct">13 Oct</a></li>

      </ul>
    </div>
    <div id="9Oct" class="col s12 tab-content">
      {% for event in site.data.events %}
        {% if event.DAY == "9-Oct" %}
          <div class="row">
          <div class="col s12">
            {% if event.TYPE == "Session" %}
              <div class="card">
                <div class="card-content blue-text">
            {% endif %}
            
            {% if event.TYPE == "SideEvent" %}
              <div class="card">
                <div class="card-content green-text">
            {% endif %}
                  <span class="card-title">{{ event.TITLE }}</span>
                  <p> {{ event.ORGANIZERS }} </p>
                </div>
                <div class="card-action">
                  <strong>{{ event.TYPE }}  </strong> |  {{event.START}} - {{event.END}}
                </div>
              </div>
            </div>
    </div>
    {% endif %}
    {% endfor %}
      </div>
    <div id="10Oct" class="col s12 tab-content">Content 2</div>
    <div id="11Oct" class="col s12 tab-content">Content 3</div>
    <div id="12Oct" class="col s12 tab-content">Content 4</div>
    <div id="13Oct" class="col s12 tab-content">Content 5</div>

  </div>
        
</div>

