    <div class="row">
    {% for event in site.data.nine %}
   
    
    <div class="col s12">
      <div class="card">
        {% if event.Type == "Session" %}<div class="card-content blue white-text"> {% endif%}
                {% if event.Type == "Side Event" %}<div class="card-content green white-text"> {% endif%}
          <span class="card-title">{{ event.Title }}</span>
          <p>{{event.Time}}</p>
        </div>
        <div class="card-action">
          <strong>{{ event.Room }}  </strong> 
        </div>
      </div>
    </div>
    {% endfor %}
    

